/*
* @Author: Charlie Gallentine
* @Date:   2019-09-11 17:13:52
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2019-09-24 14:24:31
*/

* {
	/*box-sizing: border-box;*/
    font-family: 'Questrial', 'Roboto Slab','Red Hat Display','Titillium Web', sans-serif;

	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

p {
	margin-top: 25px;
}

.debug-border {
	border: 0px solid orange;
}

.display-inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-space-around {
	display: flex;
	justify-content: space-around;
}

.height-full {
	height: 100vh;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-left-18 {
	margin-left: 18vw;
}

.margin-right-25 {
	margin-right: 5vw;
}

.margin-top-15 {
	margin-top: 15px;
}

.navbar {
	padding-top: 5vh;
	list-style: none;
}

.navbar-item {
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
	width: 15vw;
	width: 100%;
}

.navbar-link {
	color: #777;
	font-size: 24px;
	padding-left: 15%;
	text-decoration: none;
}

.navbar-link:active {
	color: #000;
}

.navbar-link:visited {
	color: #777;
}

.navbar-link:hover {
	color: #444;
}


.navbar-side-border {
	border-left:2px solid black;
	/*margin-top:2.5vh;*/
	margin-bottom:2.5vh;
	position:sticky;
	height:90vh;
	width:0;
	margin-left:15vw;
	margin-top:-100vh;
	top:5vh;
}

.padding-top-25 {
	padding-top: 25px;
}

.position-sticky {
	position: sticky;
	top: 0;
}

.remove-margin-top {
	margin-top: -100vh;
}

.section-header {
	margin-top: 20px;
}

.section-subheader {
	margin-bottom: 15px;
	margin-top: 20px;
}

.width-full {
	width: 100vw;
}

.width-15 {
	min-width: 15vw;
	width: 15vw;
}

.width-60 {
	width: 60vw;
}

.width-90 {
	width: 90vw;
}





