/*
* @Author: Charlie Gallentine
* @Date:   2019-09-11 17:13:52
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2019-09-11 17:25:42
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.debug-border {
	border: 0 solid orange;
}

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.width-full {
	width: 100vw;
}